In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [2]:
generic = lambda x: literal_eval(x)

conv = {'url_id_path': generic,
        'seconds_spent_path': generic}

df = pd.read_csv('DATA/Data/testGrouped.csv', converters=conv)

In [5]:
url_references = pd.read_csv('DATA/references/url_references_reduced.csv')

In [18]:
size = url_references.shape[0]
freq_matrix = np.zeros([size+1, size+1], dtype=int)

In [13]:
paths = [
        [2, 7, 4, 3, 4, 1],
        [4, 9, 10, 3, 4, 0, 2, 1],
        [0, 4, 3, 2, 1, 5, 8, 9, 10],
        [10, 3, 4, 3, 7, 2],
        [3, 4],
        [6, 4, 3, 7, 6],
        [3, 0, 4, 3, 4, 7, 9],
        [5, 2, 3, 1, 9, 10, 9, 8],
        [3, 2, 6, 9, 7, 6],
        [4, 3, 4, 9, 10, 3, 10, 2, 6, 7, 4, 3]
        ]

matrix = np.zeros([11, 11], dtype=int)

In [20]:
i = 1
for path in df['url_id_path']:
    for index, url_id in enumerate(path):
        if index < len(path)-1:
            freq_matrix[url_id][path[index+1]] += 1
    if i % 100000 == 0:
        print(f"{i} rows done!")
    i+=1

print("done!")

100000 rows done!
200000 rows done!
300000 rows done!
400000 rows done!
500000 rows done!
600000 rows done!
700000 rows done!
800000 rows done!
900000 rows done!
1000000 rows done!
1100000 rows done!
1200000 rows done!
1300000 rows done!
1400000 rows done!
1500000 rows done!
1600000 rows done!
1700000 rows done!
1800000 rows done!
1900000 rows done!
2000000 rows done!
2100000 rows done!
2200000 rows done!
2300000 rows done!
2400000 rows done!
2500000 rows done!
2600000 rows done!
2700000 rows done!
2800000 rows done!
2900000 rows done!
3000000 rows done!
3100000 rows done!
3200000 rows done!
3300000 rows done!
3400000 rows done!
3500000 rows done!
3600000 rows done!
3700000 rows done!
3800000 rows done!
3900000 rows done!
4000000 rows done!
4100000 rows done!
4200000 rows done!
4300000 rows done!
4400000 rows done!
4500000 rows done!
4600000 rows done!
4700000 rows done!
4800000 rows done!
4900000 rows done!
5000000 rows done!
5100000 rows done!
5200000 rows done!
5300000 rows done!
5400000 rows done!
5500000 rows done!
5600000 rows done!
5700000 rows done!
5800000 rows done!
5900000 rows done!
6000000 rows done!
6100000 rows done!
done!

In [3]:
df

,visitor_id[visit_number],url_id_path,seconds_spent_path,start_number,visited_mijnomgeving,event_src_site_id
0,0[1],"[188, 1557, 3, 1, 13, 14, 21, 16, 14, 18, 14, ...","[4, 17, 5, 7, 31, 27, 126, 55, 9, 13, 3, 328, 5]",1644099614035,1,0
1,1[1],"[1557, 3, 1, 13, 1556]","[14, 4, 4, 33, 0]",1642603154936,1,1
2,2[1],[978],[0],1649784712759,0,0
3,3[1],"[188, 194, 784]","[5, 20, 0]",1664380711086,0,0
4,4[1],"[23, 1557, 3, 13]","[0, 163, 4, 151]",1642669318114,1,1
...,...,...,...,...,...,...
6108214,3225294[3],"[1557, 14, 121, 17]","[19, 0, 5, 0]",1656063998310,1,1
6108215,3225294[4],"[1569, 1565]","[0, 5]",1656523473922,0,0
6108216,3225294[5],[1569],[0],1656856498963,0,0
6108217,3225294[6],[1564],[0],1657211965056,0,0
6108218,3225294[7],"[1557, 1559]","[27, 90]",1657480809463,1,1

In [23]:
adj_matrix = np.zeros([size+1, size+1], dtype=int)
for index_i, row in enumerate(freq_matrix):
    for index_j, val in enumerate(row):
        if val != 0:
            adj_matrix[index_i][index_j] = 1

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [31]:
freq_df = pd.DataFrame(freq_matrix)
freq_df.to_csv('DATA/matrices/frequency_matrix.csv', index=False, header=False)
adj_df = pd.DataFrame(adj_matrix)
adj_df.to_csv('DATA/matrices/adjacency_matrix.csv', index=False, header=False)